XCode/
*.vscode
*.vs
VisualStudio/**
build/
build/release/**
builds/
dev_tests/*.txt
Testing/
examples/**/*.exe
examples/**/cache.txt
src/nbproject/
*.swp
src/Attribute/*.hpp
examples/**/history*
examples/**/sol*
examples/**/stats*
examples/**/runTestLog*
integration_tests/**/*.exe
integration_tests/**/stats*
