XCode/
*.vscode
*.vs
.DS_Store
*/**/.DS_Store
VisualStudio/**
build/
build/release/**
builds/
dev_tests/*.txt
Testing/
examples/**/*.exe
examples/**/cache.txt
src/nbproject/
*.swp
src/Attribute/*.hpp
examples/**/history*
examples/**/sol*
examples/**/stats*
examples/**/runTestLog*
internal/integration_tests/**/*.exe
internal/integration_tests/**/stats*
Icon
