name: Build and publish binary wheels onto PyPi

on:
  workflow_dispatch:

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - name: Windows
            os: windows-latest
            archs: AMD64
            msvc: 1

          - name: Ubuntu
            os: ubuntu-latest
            archs: x86_64

          - name: macOS
            os: macos-latest
            archs: x86_64

    name: Wheels for ${{ matrix.target.name }} 
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Build binary wheels
        uses: pypa/cibuildwheel@v2.12.0
        env:
          CIBW_ARCHS: >-
            ${{ matrix.target.archs }}
          CIBW_BEFORE_ALL: >-
            cmake -DTEST_OPENMP=OFF -DBUILD_INTERFACE_PYTHON=OFF -DBUILD_EXAMPLES=OFF -S . -B build &&
            cmake --build build --config Release --clean-first --target nomadStatic --parallel 2
          CIBW_ENVIRONMENT: >-
            NOMAD_SRC=../../src
            NOMAD_BUILD_DIR=../../build
            NOMAD_MSVC_FLAG=${{ matrix.target.msvc }}
            NOMAD_MSVC_CONF=Release
          CIBW_PROJECT_REQUIRES_PYTHON: >-
            >=3.8
          CIBW_BUILD_FRONTEND: >-
            build
          CIBW_BUILD_VERBOITY: >-
            3
          CIBW_TEST_COMMAND: >-
            python -m pytest -s -- {package}/tests
          CIBW_TEST_REQUIRES: >-
            pytest
        with:
          output-dir: wheelhouse
          package-dir: interfaces/PyNomad

      - name: Collect wheels for processing
        uses: actions/upload-artifact@v3
        with:
          path: wheelhouse/*.whl

  # We use pypa/gh-action-pypi-publish to upload the binary wheels onto PyPi.

  publish:
    name: Publish to PyPi (testing)
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Collect wheels for publication
        uses: actions/download-artifact@v3
        with:
          name: artifact
          path: wheelhouse

      - name: Publish wheels to PyPi (testing)
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository_url: https://test.pypi.org/legacy/
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: wheelhouse
          skip_existing: true

